.card {
  margin: 5px 10px;
  $card-size:8rem;
  width: 16%;
  height: 16%;
  &:hover{
    cursor: pointer;
  }

  &-front, &-back{
    img {
      border: 1px solid $color-grey;
      border-radius: 20px;
      padding: 2px;
      height: $card-size;
      width: $card-size;
    }
  }
}


//media query medium screens
@media screen and (max-width: 920px) and (min-width: 475px) {
  .card {
    margin: 2px 4px;
    $card-size: 100px;
    width: 22%;
    height: 22%;
    &:hover{
      cursor: pointer;
    }

    &-front, &-back{
      img {
        border: 1px solid $color-grey;
        border-radius: 20px;
        padding: 2px;
        height: $card-size;
        width: $card-size;
      }
    }
  }
}

//media query small screens
@media screen and (max-width: 475px) {
  .card {
    margin: 2px 4px;
    $card-size: 70px;
    width: 22%;
    height: 22%;
    &:hover{
      cursor: pointer;
    }

    &-front, &-back{
      img {
        border: 1px solid $color-grey;
        border-radius: 20px;
        padding: 2px;
        height: $card-size;
        width: $card-size;
      }
    }
  }
}
