body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0f1a35; }

.card {
  margin: 5px 10px;
  width: 16%;
  height: 16%; }
  .card:hover {
    cursor: pointer; }
  .card-front img, .card-back img {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 2px;
    height: 8rem;
    width: 8rem; }

@media screen and (max-width: 920px) and (min-width: 475px) {
  .card {
    margin: 2px 4px;
    width: 22%;
    height: 22%; }
    .card:hover {
      cursor: pointer; }
    .card-front img, .card-back img {
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 2px;
      height: 100px;
      width: 100px; } }

@media screen and (max-width: 475px) {
  .card {
    margin: 2px 4px;
    width: 22%;
    height: 22%; }
    .card:hover {
      cursor: pointer; }
    .card-front img, .card-back img {
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 2px;
      height: 70px;
      width: 70px; } }

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 2%; }

.header {
  height: 60px;
  background: #1B2E5C;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-title {
    font-size: 1em;
    font-weight: bold;
    color: #7CB854; }

.subheader {
  height: 60px;
  background: #7CB854;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .subheader-attempts, .subheader-stopwatch {
    font-size: 0.5em;
    color: #1B2E5C;
    font-weight: bold; }
    .subheader-attempts p, .subheader-stopwatch p {
      margin: 0; }
  .subheader-stopwatch {
    font-size: 0.6em; }
  .subheader-restart button, .modal-close-button button {
    width: 100%;
    height: 30px;
    font-size: 0.4em;
    display: block;
    background-color: #1B2E5C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; }

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #7CB854;
  text-align: center; }
  .footer-title {
    font-size: 0.4em;
    font-weight: bold;
    color: #1B2E5C; }

.modal {
  margin: 0 auto;
  margin-top: 60px;
  height: 200px;
  width: 300px;
  background-color: #b3d69c;
  border-radius: 10px;
  border: 2px solid #1B2E5C;
  text-align: center; }
  .modal h1 {
    color: #1B2E5C;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px; }
  .modal-close-button {
    margin: 0 auto;
    margin-top: 30px;
    width: 50%; }
    .modal-close-button button {
      height: 48px;
      font-size: 18px; }
